---
layout: page
title: "About"
description: "Be water, my friends"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!--
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>
-->

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        有所追求，不枉此生。
    </blockquote>
    
    <B>开博说明：</B>
	<br>
	<br>
    在过去的几年中我从那些乐于分享的各种技术blog中学习到不少东西，虽一直有写笔记的习惯但却很少将自己的所学所得拿出来分享给大家，主要原因是: 一来觉得怕自己水平不够分享出来的东西对大家帮助意义不大，二来觉得写blog这个东西太费时间和精力，但作为互联网中的一份子，我们都非常明白正是互联网的“分享”精神才让更多人从分享中受益，加上自己近来也有想通过blog来表达自我，写blog不但能让我重新去梳理自己几年来的知识积累和锻炼自己的写作能力，同时分享出去的东西如果对看到的人有帮助，那也是一种我所追求的成就感。
	<br>
	<br>
    后续blog中主要围绕但不限于Android、Java相关的重要知识点、机制原理、框架相关的东西，blog写作思路主要以作者遇到或思考过的问题为向导进行展开，重点写易被初、中级开发人员忽略但又非常重要的知识点，我不写最基础的并不代表认为最基本的不重要（因为基本的开发知识点 Android training已基本覆盖另外还有很多其他优秀blog都有这方面的文章），相反最基本的比进阶的更重要，因为只有地基打牢了你才可能把你的高楼大厦盖好，不然就是海市蜃楼，了解了些更深的知识点也是白搭，文章中若有不足或错误之处欢迎大家及时指正。
    <br><br>
	<i>ps：另外blog中还有一些如知乎、微博链接等未完善的地方大家可以先不用care。<i/>
	<!--
    <p style="text-align:right;">
        —— <a href="http://www.baidu.com">This is just for test </a>
    </p>
    -->
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
